version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  test:
    docker:
      - image: cimg/python:3.11.0
    steps:
      - checkout
      - restore_cache:
          name: restore pyenv cache
          key: pyenv-dep-v1-{{ .Branch }}-{{ checksum "pyproject.toml" }}
      - run:
          command: |
            cd /home/circleci/.pyenv/plugins/python-build/../.. && git pull && cd -
            pyenv install 3.9.13
            pyenv local 3.9.13 3.11.0
          name: install pyenv
      - save_cache:
          name: save pyenv cache
          paths:
            - "~/.pyenv/versions/"
          key: pyenv-dep-v1-{{ .Branch }}-{{ checksum "pyproject.toml" }}
      - restore_cache:
          name: restore python deps cache
          key: poetry-dep-v1-{{ .Branch }}-{{ checksum "poetry.lock" }}
      - run:
          command: |
            poetry config --local virtualenvs.in-project true
            poetry install
          name: install python deps
      - save_cache:
          name: save python deps cache
          paths:
            - ".venv"
          key: poetry-dep-v1-{{ .Branch }}-{{ checksum "poetry.lock" }}
      - run:
          command: |
            poetry run tox
          name: run tests
      - codecov/upload:
          file: {{ htmlcov/index.html }}
  lint:
    docker:
      - image: cimg/python:3.11.0
    steps:
      - checkout
      - run:
          command: |
            poetry install
      - run:
          command: |
            poetry run black ./
          name: run formatter
      - run:
          command: |
            poetry run pylint tdd_kata
          name: run lint
workflows:
  main:
    jobs:
      - test
      - lint
